//-------------------- add zone here ---------------------------

zone "trustpositif" IN {
        type master;
        file "/usr/local/etc/namedb/dnsrpz/trustpositif.zone";
        allow-query {any;};
        allow-update {none;};
};


//-------------------- end zone here ---------------------------
